// Fonts
//------------------------------------------------------------------------------
// Font imports
@font-face {
  font-family: 'Benton Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://www.latimes.com/projects/static-assets/v1/fonts/benton-gothic/regular.woff2')
      format('woff2'),
    url('https://www.latimes.com/projects/static-assets/v1/fonts/benton-gothic/regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Benton Gothic';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://www.latimes.com/projects/static-assets/v1/fonts/benton-gothic/medium.woff2')
      format('woff2'),
    url('https://www.latimes.com/projects/static-assets/v1/fonts/benton-gothic/medium.woff')
      format('woff');
}

@font-face {
  font-family: 'Benton Gothic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://www.latimes.com/projects/static-assets/v1/fonts/benton-gothic/bold.woff2')
      format('woff2'),
    url('https://www.latimes.com/projects/static-assets/v1/fonts/benton-gothic/bold.woff')
      format('woff');
}

$font-branding: 'Benton Gothic', cursive;
$font-headline: 'Benton Gothic', sans-serif;
$font-sans: 'Benton Gothic', sans-serif;

// Colors
$masthead-background: $gray-10;
$main-homepage-background: $white;
$main-homepage-icon-color: $black;
$main-homepage-icon-border: $black;
$main-page-text-color: $gray-35;
$main-page-btn-color: $gray-45;
$search-container-background: #e6e2e2;
$search-container-hover: $gray-70;
$btn-homepage-background: $white;
$btn-homepage-border: $black;
$btn-default-background: $white;
$btn-default-background-hover: $accent;
$btn-default-border: $black;
$btn-default-text-color: $black;
$btn-default-text-hover: $black;
$btn-user-initial: $gray-50;
$elem-link-color: $gray-50;
$elem-active-link-color: $gray-50;
$elem-link-accent: $accent;
$nav-text-color: $gray-40;
